/* 
Primary
- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)
Neutral
- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
Typography
- Font size (paragraph): 18px
Font
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/
:root {
	font-size: 18px;
	--color-primary-soft-blue: hsl(215, 51%, 70%);
	--color-primary-cyan: hsl(178, 100%, 50%);
	--color-neutral-white: hsl(0, 0%, 100%);
	--color-neutral-very-dark-blue-bg: hsl(217, 54%, 11%);
	--color-neutral-very-dark-blue-bg-card: hsl(216, 50%, 16%);
	--color-neutral-very-dark-blue-line: hsl(215, 32%, 27%);
	--font-family-outfit: ;
	/* --font-weight- */
}

/* views
- Mobile: 375px
- Desktop: 1440px
*/
@media screen and (min-wdith: 376px) {
}
